<!DOCTYPE html>
<html data-ng-app="alkivi_ldap" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Alkivi LDAP</title>

        <!-- dev -->
        <script src="lib/js/jquery.js"></script>
        <script src="lib/js/angular.js"></script>
        <script src="lib/js/bootstrap.js"></script>
        <script src="lib/js/ui-bootstrap.js"></script>
        <!-- prod -->
        <!--<script src="/lib/js/jquery.min.js"></script>-->
        <!--<script src="/lib/js/angular.min.js"></script>-->
        <!--<script src="/lib/js/bootstrap.min.js"></script>-->
        <!--<script src="/lib/js/ui-bootstrap.min.js"></script>-->

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

        <!-- Bootstrap core CSS -->
        <!-- dev -->
        <link href="lib/css/bootstrap.css" rel="stylesheet">
        <link href="lib/css/bootstrap-glyphicons.css" rel="stylesheet">
        <!-- prod -->
        <!--<link href="/lib/css/bootstrap.min.css" rel="stylesheet">-->
        <!--<link href="/lib/css/bootstrap-glyphicons.css" rel="stylesheet">-->


        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body id="rootBody" data-ng-controller="RootCtrl">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Alkivi Ldap</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Update Password</a></li>
                        <!--<li><a href="#search">Search</a></li>-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div align="center" data-ng-controller="EventCtrl" class="navbar navbar-fixed-top eventNotifyer" data-ng-show="events.length">
            <h4>Notifications</h4>
            <button data-ng-click="resetEvents()" id="resetEvents" class="btn btn-inverse" ><i class="icon-remove icon-white"></i> Clear All</button>
            <alert data-ng-repeat="event in events" type="event.type" close="closeEvent($index)">{{event.msg}}</alert>
        </div>

        <div class="ng-view container">
        </div><!-- /.container -->

    </body>
</html>
